@import '../Colors';

.button {
  @extend .clickable;
  font-size: 1.5em;
  font-family: Roboto;
  background: $background;
  color: $text4;
  border: solid;
  border-color: $text4;
  padding: 0 14px; 
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  width: 5em;
}

.button:hover {
  color: $text5;
  border-color: $text5;
}

.button:focus {
  outline: none;
}
