.resume-page {
  .resume {
    align-items: left;
  }

  .res-1 {
    color: $green;
  }
  .res-2 {
    color: $aqua;
  }
  .res-3 {
    color: $yellow;
  }
  .res-4 {
    color: $purple;
  }
  .res-5 {
    color: $orange;
  }
  .res-6 {
    color: $blue;
  }
}