//$background: #EFEEF0;
$dark:   #282828;
$green:  #b8bb26;
$red:    #fb4934;
$orange: #fe8019;
$yellow: #fabd2f;
$blue:   #83a598;
$purple: #d3869b;
$aqua:   #8ec07c;
$white:  #ebdbb2;

$background: $dark;
$text1: $white;
$text2: $yellow;
$text3: $green;
$text4: $red;
$text5: $orange;
