@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import './components/HomePage';
@import './components/Nameplate';
@import './components/Menu';

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$cool-gray: #707C80;
$background-gray: #EFEEF0;
$font-stack: "Roboto", sans-serif;

body {
  background-color: $background-gray;
}

#app-container {
  @include no-select();
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $font-stack;
  color: $cool-gray;
  max-width: 45em;
  margin: 0 auto;
}

.clickable {
  cursor: pointer;
}

